@import url('fonts/BrixSansRegular.css');
@import url('fonts/BrixSansBlack.css');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p, label, span, table{
	font-family: 'BrixSansRegular';
	font-size: 9pt;
}
.h2{
	font-family: 'BrixSansBlack';
	font-size: 16pt;
}
.h3{
	font-family: 'BrixSansBlack';
	font-size: 12pt;
	display: block;
	background: #0a4661;
	color: #FFF;
	text-align: center;
	padding: 3px;
	margin-bottom: 5px;
}
#page_pdf{
	width: 100%;
	margin: 15px auto 10px auto;
}

#head{
	width: 100%;
	margin: 45px;
	margin-bottom: 10px;
	/* text-align: center; */
}

.info_empresa{
	text-align: center;
	padding-right: 175px; 
	padding-left: 175px;
	/* width: 70%; */
}
.info_empresa span{
	font-size: 20pt;
}
.info_empresa p{
	line-height: 60px;
	font-size: 18pt;
}
.info_empresa .alumno{
	line-height: 60px;
	font-size: 25pt;
	font-weight: bold;
}
.info_empresa .dni{
	font-size: 17pt;
	font-weight: bold;
}


.detalle{
	text-align: center;
}
.detalle span{
	text-align: center;
	font-size: 15pt;
}
.detalle .curso{
	line-height: 2.5;
	font-size: 20pt;
	font-weight: bold;
}
.detalle .informacion{
	line-height: 1.5;
	text-align: justify;
	font-size: 15pt;
}

.detalle .fecha{
	text-align: justify;
	font-size: 10pt;
	font-style: italic
}

.representante1{
	width: 30%;
	text-align: center;
}
.representante1 .repre1{
	font-weight: bold;
	font-size: 12pt;
	

}
.representante1 p{
	font-size: 11pt;
}
.representante2{
	width: 30%;
	text-align: center;
	
}
.representante2 .repre2{
	font-size: 12pt;
	font-weight: bold;
}
.representante2 p{
	font-size: 11pt;
}
.logo{
	width: 12%;
}
.logo1{
	width: 12%;
	text-align: center;
}
.logo2{
	width: 12%;
}